<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/control.css" rel="stylesheet">
    <link href="../css/resume.css" rel="stylesheet">
    <link href="../css/reguser1.css" rel="stylesheet">
    <title>完善企业信息-第二步</title>
</head>
<body>
<div class="header">
    <div class="width1200 align_center" style="padding-top: 14px;justify-content: space-between">
        <img src="../images/logo.png"/>
        <div><span class="city">全国</span><span class="changecity">[切换]</span></div>
        <div class="menu">
            <a href="#" class="menuactive">首页</a>
            <a  href="#">找工作</a>
            <a  href="#">实习/兼职</a>
            <a  href="#">求职保镖</a>
            <a  href="#">职场信用</a>
            <a  href="#">就业大数据</a>
        </div>
        <div class="login">
            <a href="#">登陆</a>
            <a href="#">注册</a>
            <a href="#">企业入口</a>
        </div>
    </div>
</div>
<div class="resume_content loginn_zj">
    <div class="relative" style="width: 426px;margin: 0 auto">
        <div class="resume_step">
            <div class="resume_stepbox">
            <span class="resume_step_circular">
                <div class="resume_step_circular1 resume_step_ready">
                    <span>
                        <svg class="icon icon_right" aria-hidden="true">
                            <use xlink:href="#icon-zhengque1"></use>
                        </svg>
                    </span>
                </div>
            </span>
                <p>企业注册</p>
            </div>
            <div class="resume_stepbox">
            <span class="resume_step_circular">
                <div class="resume_step_circular1 resume_step_ready"><span>2</span></div>
            </span>
                <p>认证信息</p>
            </div>
            <div class="resume_stepbox">
            <span class="resume_step_circular">
                <div class="resume_step_circular1 resume_step_no"><span>3</span></div>
            </span>
                <p>完善信息</p>
            </div>
        </div>

        <div class="resume_step_progress">
            <i class="resume_step_ready" style="width: 290px;"></i>
        </div>

        <div class="register_msg" style="margin-bottom: 196px">
            <div class="msg_zj">
                <div class="title_step2">认证信息</div>
                <label class="general-input detail_zj" >
                    <input type="text" id="company_name" placeholder="请输入公司名称">
                </label>
                <div class="chec_tip1">

                </div>
                <div class="step2_btns">
                    <div class="one_btn btn1">
                        <div class="upload" >
                        <img src="../images/timg22.png" class="rzpic"/>
                        <div class="meng btn1"><span>重新上传</span></div>
                        </div>
                    </div>
                    <div class="one_btn btn2">
                        <div class="upload" >
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-shangchuan"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="one_btn btn3">
                        <div class="upload" >
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-shangchuan"></use>
                            </svg>
                        </div>
                    </div>
                    <p class="pro1" style="width: 100px;">营业执照</p>
                    <p class="pro1" style="margin-left: 20px;">法人身份证(正面)</p>
                    <p class="pro1" style="text-align: right;">法人身份证(反面)</p>
                </div>
                <div class="chec_tip1">

                </div>
                    <span class="public_bigbtn bg1aa wrap" id="uploadcompany_pic">最后一步：补全资料</span>
            </div>

        </div>
    </div>

    <!--弹框-->
    <div class="modalbox" id="modalbox" style="display: none;">
        <div class="modal">
            <p class="title_content">标题内容</p>
            <span class="modalclose">
                <img src="../images/close.png"/>
            </span>
            <div class="modal_con">
                <div class="one_btn">
                    <svg class="icon" aria-hidden="true"  id="upload_rz">
                        <use xlink:href="#icon-shangchuan"></use>
                    </svg>

                    <div class="upload" style="display: block">
                    <img src="../images/timg22.png" class="rzpic" style="height: 100px;"/>
                    <div class="meng" id="reupload_rz"><span>重新上传</span></div>
                    </div>
                </div>
                <input type="file" id="choosefile"  accept='image/*' style="z-index: 9999;"/>
                <div class="erweima">
                    <img src="../images/erweima.png" class="pic"/>
                </div>
            </div>
            <div class="title">
                <span>电脑上传</span>
                <span>手机扫码上传</span>
            </div>
            <span class="public_bigbtn bg1aa modalbtn">立即上传</span>
        </div>
    </div>
    <!--弹框end-->
</div>


</body>
<script src="../js/jquery.js" rel="script"></script>
<script src="../js/ajaxfileupload.js" rel="script"></script>
<script src="../js/iconfont.js" rel="script"></script>
<script src="../js/control.js" rel="script"></script>
<script>
   $(function () {



       var boxbum="";
        $(".btn1").click(function () {
            boxbum=1;
            $(".title_content").html("上传营业执照");
            $("#modalbox").animate({"opacity":1},300);
            setTimeout(function(){
                $("#modalbox").css("display","block");
            },300)
        });
       $(".btn2").click(function () {
           boxbum=2;
           $(".title_content").html("上传身份证正面照");
           $("#modalbox").animate({"opacity":1},300);
           setTimeout(function(){
               $("#modalbox").css("display","block");
           },300)
       });
       $(".btn3").click(function () {
           boxbum=3;
           $(".title_content").html("上传身份证反面照");
           $("#modalbox").animate({"opacity":1},300);
           setTimeout(function(){
               $("#modalbox").css("display","block");
           },300)
       });

       $(".modalclose").on("click",function(){
           $("#modalbox").animate({"opacity":0},300);
           setTimeout(function(){
               $("#modalbox").css("display","none");
           },300)
       });

       $('#choosefile').on('change',function(e){
           //$(".rzpic").attr("src","");
           var imgfile=this.files[0];
           var src=URL.createObjectURL(imgfile);
           $(".rzpic").attr("src",src);
       });
       var  uploadFile=function(obj, type,boxbum) {
           $.ajaxFileUpload({
               url : "http://localhost:8081/ws2/servlet/fileUpload",
               secureuri : false,// 一般设置为false
               fileElementId :type,// 文件上传表单的id <input type="file" id="fileUpload" name="file" />
               dataType : 'json',// 返回值类型 一般设置为json
               data: {'type': type, "type2":2},
               success : function(data) // 服务器成功响应处理函数
               {
                   var data=JSON.parse(data);
                   if(data.status==1){
                       $(".btn"+boxbum).find("img").eq(0).attr("src",data.content)
                       $(".chec_tip1").eq(1).html("");
                   }
               },
               error : function(data)// 服务器响应失败处理函数
               {
                   console.log("服务器异常");
               }
           });
           return false;
       };

       $(".modalbtn").on("click",function(){
           uploadFile( $('#choosefile'),"choosefile",boxbum);
       })


       $("#company_name").on("click",function(){
           $(this).closest(".general-input").next().html("");
       })


       //提交申请
       $("#uploadcompany_pic").on("click",function(){
           var company_name=$("#company_name").val();//公司名称
           var license=$(".btn1").find("img").eq(0).attr("src");//营业执照
           var identity_card1=$(".btn2").find("img").eq(0).attr("src");//身份证正面
           var identity_card2=$(".btn3").find("img").eq(0).attr("src");//身份证反面

           var company_name_input=$("#company_name").closest(".general-input");

           if($.trim(company_name)==""){
               company_name_input.css("border-color","#e23d46");
               company_name_input.next().html(tipmsg("error","请输入公司名称"));
               return false;
           }
           if(!license||!identity_card1||!identity_card2){
               $(".chec_tip1").eq(1).html(tipmsg("error","请上传营业执照和身份证正反面照片"));
               return false;
           }

           $.ajax({
               url:"",
               type:"post",
               data:{
                   company_name:company_name,
                   license:license,
                   identity_card1:identity_card1,
                   identity_card2:identity_card2
               },
               success:function(data){
                   var data=JSON.parse(data);
                   if(data.status==1){
                       $("#modalbox").css("display","none");
                   }
               }
           })

       })



   }) 
</script>
</html>