<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/control.css" rel="stylesheet">
    <link href="../css/resume.css" rel="stylesheet">
    <link href="../css/reguser1.css" rel="stylesheet">
    <title>创建账号</title>
</head>
<body>
<div class="header">
    <div class="width1200 align_center" style="padding-top: 14px;justify-content: space-between">
        <img src="../images/logo.png"/>
        <div style="height: 52px;line-height: 52px"><span class="city">全国</span><span class="changecity">[切换]</span></div>
        <div class="menu">
            <a href="#" class="menuactive">首页</a>
            <a  href="#">找工作</a>
            <a  href="#">实习/兼职</a>
            <a  href="#">求职保镖</a>
            <a  href="#">职场信用</a>
            <a  href="#">就业大数据</a>
        </div>
        <div class="login">
            <a href="#">登陆</a>
            <a href="#">注册</a>
            <a href="#">企业入口</a>
        </div>
    </div>
</div>
<div class="resume_content">

    <div class="login_msg" style="margin-bottom: 306px;">
        <div class="login_zj find_psw">
            <div class="forgetpsw_title xuanzhong" style="font-size: 16px;margin-bottom:30px; ">创建账号</div>
            <div class="forgetpsw_title" style="font-size: 16px;">已有账号</div>

            <div class="tel_con">
                <p class="bind_line1">请创建一个新的帐号，并绑定你现在登录的微博</p>
                <p  class="bind_line2">绑定后，使用QQ或者秒猎帐号均可以登录到你现有的帐号</p>
            <label class="general-input wrap relative" >
                <input class="absolute"  type="text" name="tel_number" id="tel_number" placeholder="请输入手机号码" maxlength="15" data-error="请输入手机号码" data-warn="请输入正确格式的手机" data-rg="^1[3|5|7|8][0-9]\d{8}$">
            </label>
            <div class="chec_tip"></div>
            <label class="general-input wrap yanzhengma relative">
                <input class="absolute" type="text" name="yanzhengma" id="yanzhengma" placeholder="请输入验证码" maxlength="4" data-error="请输入验证码" data-warn="输入验证码有误" data-rg="^[1-9]\d*$">
            </label>
                <span class="code right_align">获取验证码</span>
            <div class="chec_tip"></div>
                <label class="general-input wrap relative" style="margin-top: 20px">
                    <input class="absolute" type="password" name="password" id="password" placeholder="请输入6~15位密码" maxlength="15"  data-error="请输入密码" data-warn="请输入6~15位密码" data-rg="^[a-zA-Z0-9]{6,}$">
                </label>
                <div class="chec_tip"></div>
            <span class="public_bigbtn bg1aa wrap" id="find_password_tel">创建并绑定</span>
            <span   class="bind_tip">企业用户暂不支持用第三方登录的方式登录</span>
            </div>
            <div class="email_con" style="display: none">
                <p class="bind_line1">如果你已经有秒猎网的帐号，可以在此进行绑定</p>
                <p  class="bind_line2">绑定后，使用QQ或者秒猎帐号均可以登录到你现有的帐号</p>
                <label class="general-input wrap relative" >
                    <input class="absolute" type="text" name="tel_number1" id="tel_number1" placeholder="请输入手机号码" maxlength="15"  data-error="请输入手机号码" data-warn="请输入正确格式的手机" data-rg="^1[3|5|7|8][0-9]\d{8}$">
                </label>
                <div class="chec_tip"></div>
                <label class="general-input wrap relative" style="margin-top: 20px;">
                    <input  class="absolute" type="password" name="password1" id="password1" placeholder="请输入登录密码" maxlength=""  data-error="请输入密码" data-warn="请输入6~15位密码" data-rg="^[a-zA-Z0-9]{6,}$">
                </label>
                <div class="chec_tip"></div>
                <span class="public_bigbtn bg1aa wrap" id="find_password_email">绑定</span>
                <span   class="bind_tip">企业用户暂不支持用第三方登录的方式登录</span>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../js/jquery.js" rel="script"></script>
<script src="../js/iconfont.js" rel="script"></script>
<script src="../js/control.js" rel="script"></script>
<script src="../js/login_reg_account.js" rel="script"></script>
<script src="../js/formdata.js" rel="script"></script>
<script>
    $(document).ready(function(){

        create_bind_account();
        var telphone_reg=/^1[3|5|7|8][0-9]\d{8}$/;
        //创建账号
        $.fromdata(".tel_con","test.php","#find_password_tel",function(data){
            if(data.status==1){
                window.location.href="";
            }else{
                console.log(data.content);
            }
        });
//        $("#find_password_tel").click(function(){
//            var tel=$("#tel_number").val();
//            var yanzheng=$("#yanzhengma").val();
//            var psw=$("#password").val();
//            var tel_input=$("#tel_number").closest(".general-input");
//            var yanzheng_input=$("#yanzhengma").closest(".general-input");
//            var psw_input=$("#password").closest(".general-input");
//            if(tel==""){
//                tel_input.css("border-color","#e23d46");
//                tel_input.next().html(tipmsg("error","请输入手机号码"));
//                return false;
//            }else if(!(telphone_reg.test(tel))){
//                tel_input.css("border-color","#e23d46");
//                tel_input.next().html(tipmsg("error","请输入正确格式的号码"));
//                return false;
//            }else{
//                tel_input.next().html("");
//            }
//            if(yanzheng==""){
//                yanzheng_input.css("border-color","#e23d46");
//                yanzheng_input.next().next().html(tipmsg("error","请输入验证码"));
//                return false;
//            }else{
//                yanzheng_input.next().next().html("");
//            }
//            if(psw==""){
//                psw_input.css("border-color","#e23d46");
//                psw_input.next().html(tipmsg("error","请输入密码"));
//                return false;
//            }else if(psw.length<6){
//                psw_input.css("border-color","#e23d46");
//                psw_input.next().html(tipmsg("error","请输入长度为6~15位密码"));
//                return false;
//            }else{
//                psw_input.next().html("");
//            }
//
//            $.ajax({
//                url:"",
//                type:"post",
//                data:{
//                    tel:tel,
//                    yanzheng:yanzheng,
//                    psw:psw
//                },
//                success:function(data){
//                    if(data.status==1){
//                        window.location.href="";
//                    }else{
//                        console.log(data.content);
//                    }
//                }
//            });
//        });

        //已有账号
        $.fromdata(".email_con","test.php","#find_password_email",function(data){
            if(data.status==1){
                window.location.href="";
            }else{
                console.log(data.content);
            }
        });
//        $("#find_password_email").click(function(){
//            var telnum=$("#tel_number1").val();
//            var psw1=$("#password1").val();
//            var tel_input1=$("#tel_number1").closest(".general-input");
//            var psw_input1=$("#password1").closest(".general-input");
//
//            if(telnum==""){
//                tel_input1.css("border-color","#e23d46");
//                tel_input1.next().html(tipmsg("error","请输入手机号码"));
//                return false;
//            }else if(!(telphone_reg.test(telnum))){
//                tel_input1.css("border-color","#e23d46");
//                tel_input1.next().html(tipmsg("error","请输入正确格式的号码"));
//                return false;
//            }else{
//                tel_input1.next().html("");
//            }
//            if(psw1==""){
//                psw_input1.css("border-color","#e23d46");
//                psw_input1.next().html(tipmsg("error","请输入密码"));
//                return false;
//            }else if(psw1.length<6){
//                psw_input1.css("border-color","#e23d46");
//                psw_input1.next().html(tipmsg("error","请输入长度为6~15位密码"));
//                return false;
//            }else{
//                psw_input1.next().html("");
//            }
//            $.ajax({
//                url:"",
//                type:"post",
//                data:{
//                    telnum:telnum,
//                    psw1:psw1
//                },
//                success:function(data){
//                    if(data.status==1){
//                        window.location.href="";
//                    }else{
//                        console.log(data.content);
//                    }
//                }
//            });
//        });

    });
</script>
</html>