<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/control.css" rel="stylesheet">
    <link href="../css/resume.css" rel="stylesheet">
    <link href="../css/reguser1.css" rel="stylesheet">
    <title>登录</title>
</head>
<body>
<div class="header">
    <div class="width1200 align_center" style="padding-top: 14px;justify-content: space-between">
        <img src="../images/logo.png"/>
        <div style="height: 52px;line-height: 52px"><span class="city">全国</span><span class="changecity">[切换]</span></div>
        <div class="menu">
            <a href="#" class="menuactive">首页</a>
            <a  href="#">找工作</a>
            <a  href="#">实习/兼职</a>
            <a  href="#">求职保镖</a>
            <a  href="#">职场信用</a>
            <a  href="#">就业大数据</a>
        </div>
        <div class="login">
            <a href="#">登陆</a>
            <a href="#">注册</a>
            <a href="#">企业入口</a>
        </div>
    </div>
</div>
<div class="resume_content">

    <div class="login_msg">
        <div class="login_zj">

            <div class="title_zj " style="font-size: 16px">账户登录</div>

            <label class="general-input wrap" >
                <input type="text" id="user_name" placeholder="请输入您的手机号码/用户名">
            </label>
            <div class="chec_tip"></div>
            <label class="general-input wrap psw" >
                <input type="password" id="password" placeholder="请输入密码">
            </label>
            <div class="chec_tip"></div>
            <div class="wrap forget"><a href="">忘记密码？</a></div>
            <span class="public_bigbtn bg1aa wrap" id="login">登录</span>
        </div>
        <div class="foot_btns">
            <div class="con">
                <span class="icons">
                    <svg class="icon" aria-hidden="true" style="color: #ffffff">
                        <use xlink:href="#icon-qq"></use>
                    </svg>
                </span>
                <span class="icons left">
                    <svg class="icon" aria-hidden="true" style="color: #ffffff">
                        <use xlink:href="#icon-weixin"></use>
                    </svg>
                </span>
                <span class="icons left">
                    <svg class="icon" aria-hidden="true" style="color: #ffffff">
                        <use xlink:href="#icon-weibo"></use>
                    </svg>
                </span>
                <span class="icons left">
                    <svg class="icon" aria-hidden="true" style="color: #ffffff">
                        <use xlink:href="#icon-baidu"></use>
                    </svg>
                </span>
                <div class="register font_zj1">
                    还没有账号：<a href=""><span class="color">立即注册</span>
                    <svg class="icon" aria-hidden="true" style="color: #ffffff;">
                        <use xlink:href="#icon-youjiantou"></use>
                    </svg></a>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
<script src="../js/jquery.js" rel="script"></script>
<script src="../js/iconfont.js" rel="script"></script>
<script src="../js/control.js" rel="script"></script>
<script>
    $(document).ready(function(){

        $("#login").on("click",function(){
            var username=$('#user_name').val();//用户名
            var password=$("#password").val();//密码
            if($.trim(username)==""){
                $("#user_name").closest(".general-input").css("border-color","#e23d46");
                $("#user_name").closest(".general-input").next().html(tipmsg("error","请输入用户名"));
                return false;
            };
            if(password.length<6){
                $("#password").closest(".general-input").css("border-color","#e23d46");
                $("#password").closest(".general-input").next().html(tipmsg("error","请输入6-15位密码"));
                return false;
            };
            $.ajax({
                url:"",
                type:"post",
                data:{
                    user_name:username,
                    password:password
                },
                success:function(data){
                    if(data.status==1){
                        window.location.href="";
                    }else{
                        console.log(data.content);
                    }
                }
            })
        })
    })
</script>
</html>