<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/mobileuoload.css" rel="stylesheet">
    <title>手机照片上传</title>
</head>
<body>
<div class="mobilebox">
    <div class="top_structure">
        <img class="logo" src="../images/logo_1.png">
        <div class="file_name">
            上传营业执照
        </div>

        <div class="imgbox">
            <img src="../images/qinghuai.png">
        </div>

        <span class="file_btn camera1">确定上传</span>
        <span class="file_btn Album1">更换照片</span>
    </div>
</div>
</body>
<script src="../js/jquery.js" rel="script"></script>
<script src="../js/iconfont.js" rel="script"></script>
<script src="../js/mobileuoload.js" rel="script"></script>
</html>