<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/control.css" rel="stylesheet">
    <link href="../css/resume.css" rel="stylesheet">
    <link href="../css/register.css" rel="stylesheet">
    <title>个人-企业注册筛选</title>
</head>
<body>
<div class="header">
    <div class="width1200 align_center" style="padding-top: 14px;justify-content: space-between">
        <img src="../images/logo.png"/>
        <div style="height: 52px;line-height: 52px"><span class="city">全国</span><span class="changecity">[切换]</span></div>
        <div class="menu">
            <a href="#" class="menuactive">首页</a>
            <a  href="#">找工作</a>
            <a  href="#">实习/兼职</a>
            <a  href="#">求职保镖</a>
            <a  href="#">职场信用</a>
            <a  href="#">就业大数据</a>
        </div>
        <div class="login">
            <a href="#">登陆</a>
            <a href="#">注册</a>
            <a href="#">企业入口</a>
        </div>
    </div>
</div>

<div class="resume_content">

    <div class="screen_content">
        <div class="screen_content_left">
            <div class="screen_title">个人通道</div>
            <div class="screen_title1">最安全的校园招聘平台</div>
            <div class="screen_pic">
                <img src="../images/student.png">
            </div>
            <div class="screen_btnbox">
                <a href="#" class="screen_btn findjob">去找工作</a>
            </div>
        </div>
        <div class="screen_content_right">
            <div class="screen_title">企业通道</div>
            <div class="screen_title1">校园人才都在秒猎网</div>
            <div class="screen_pic">
                <img src="../images/HR.png">
            </div>
            <div class="screen_btnbox">
                <a href="#" class="screen_btn findpersonnel">去搜人才</a>
            </div>
        </div>

        <div class="bottom_login">
            已有账户，<a href="#" class="go_login">直接登录</a>
        </div>
    </div>

</div>


</body>
<script src="../js/jquery.js" rel="script"></script>
<script src="../js/iconfont.js" rel="script"></script>
<script src="../js/control.js" rel="script"></script>
</html>