<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/control.css" rel="stylesheet">
    <link href="../css/resume.css" rel="stylesheet">
    <link href="../css/reguser1.css" rel="stylesheet">
    <title>设置密码</title>
</head>
<body>
<div class="header">
    <div class="width1200 align_center" style="padding-top: 14px;justify-content: space-between">
        <img src="../images/logo.png"/>
        <div style="height: 52px;line-height: 52px"><span class="city">全国</span><span class="changecity">[切换]</span></div>
        <div class="menu">
            <a href="#" class="menuactive">首页</a>
            <a  href="#">找工作</a>
            <a  href="#">实习/兼职</a>
            <a  href="#">求职保镖</a>
            <a  href="#">职场信用</a>
            <a  href="#">就业大数据</a>
        </div>
        <div class="login">
            <a href="#">登陆</a>
            <a href="#">注册</a>
            <a href="#">企业入口</a>
        </div>
    </div>
</div>
<div class="resume_content">

    <div class="login_msg" style="margin-bottom: 306px;">
        <div class="login_zj">

            <div class="title_zj " style="font-size: 16px">设置新密码</div>

            <label class="general-input wrap" >
                <input type="password" id="new_password" placeholder="请输入6~15位新密码" maxlength="15">
            </label>
            <div class="chec_tip"></div>
            <label class="general-input wrap psw">
                <input type="password" id="new_password_ch" placeholder="请再次输入密码" maxlength="15">
            </label>
            <div class="chec_tip"></div>
            <span class="public_bigbtn bg1aa wrap" id="set_password" style="margin-bottom: 40px;margin-top: 20px;">确认</span>
        </div>

    </div>

</div>


</body>
<script src="../js/jquery.js" rel="script"></script>
<script src="../js/iconfont.js" rel="script"></script>
<script src="../js/control.js" rel="script"></script>
<script>
    $(document).ready(function(){

        $("#set_password").on("click",function(){
            var new_password=$('#new_password').val();
            var new_password_ch=$("#new_password_ch").val();
            var psw_input=$("#new_password").closest(".general-input");
            var psw_input_ch=$("#new_password_ch").closest(".general-input");
            if(new_password==""){
                psw_input.css("border-color","#e23d46");
                psw_input.next().html(tipmsg("error","请输入新的密码"));
                return false;
            };
            if(new_password.length<6){
                psw_input.css("border-color","#e23d46");
                psw_input.next().html(tipmsg("error","请输入6-15位密码"));
                return false;
            };
            if(new_password_ch==""){
                psw_input_ch.css("border-color","#e23d46");
                psw_input_ch.next().html(tipmsg("error","请输入确认密码"));
                return false;
            };
            if(new_password_ch.length<6){
                psw_input_ch.css("border-color","#e23d46");
                psw_input_ch.next().html(tipmsg("error","请输入6-15位密码"));
                return false;
            };
            if(new_password_ch!="" && new_password_ch!=new_password){
                psw_input_ch.css("border-color","#e23d46");
                psw_input_ch.next().html(tipmsg("error","两次密码不一致"));
                return false;
            }
            $.ajax({
                url:"",
                type:"post",
                data:{
                    new_password:new_password,
                    new_password_ch:new_password_ch
                },
                success:function(data){
                    if(data.status==1){
                        window.location.href="";
                    }else{
                        console.log(data.content);
                    }
                }
            })
        })
    })
</script>
</html>