<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/control.css" rel="stylesheet">
    <link href="../css/resume.css" rel="stylesheet">
    <link href="../css/reguser1.css" rel="stylesheet">
    <title>简历填写-完善教育经历</title>
</head>
<body>
<div class="header">
    <div class="width1200 align_center" style="padding-top: 14px;justify-content: space-between">
        <img src="../images/logo.png"/>
        <div style="height: 52px;line-height: 52px"><span class="city">全国</span><span class="changecity">[切换]</span></div>
        <div class="menu">
            <a href="#" class="menuactive">首页</a>
            <a  href="#">找工作</a>
            <a  href="#">实习/兼职</a>
            <a  href="#">求职保镖</a>
            <a  href="#">职场信用</a>
            <a  href="#">就业大数据</a>
        </div>
        <div class="login">
            <a href="#">登陆</a>
            <a href="#">注册</a>
            <a href="#">企业入口</a>
        </div>
    </div>
</div>
<div class="resume_content">
    <div class="relative" style="width: 620px;margin: 0 auto">
        <div class="resume_step">
            <div class="resume_stepbox">
            <span class="resume_step_circular">
                <div class="resume_step_circular1 resume_step_ready">
                    <span>
                        <svg class="icon icon_right" aria-hidden="true">
                            <use xlink:href="#icon-zhengque1"></use>
                        </svg>
                    </span>
                </div>
            </span>
                <p>基本信息</p>
            </div>
            <div class="resume_stepbox">
            <span class="resume_step_circular">
                <div class="resume_step_circular1 resume_step_ready"><span>2</span></div>
            </span>
                <p>教育经历</p>
            </div>
            <div class="resume_stepbox">
            <span class="resume_step_circular">
                <div class="resume_step_circular1 resume_step_no"><span>3</span></div>
            </span>
                <p>工作经历</p>
            </div>
            <div class="resume_stepbox">
            <span class="resume_step_circular">
                <div class="resume_step_circular1 resume_step_no"><span>4</span></div>
            </span>
                <p>一句话介绍</p>
            </div>
        </div>

        <div class="resume_step_progress">
            <i class="resume_step_ready" style="width: 285px"></i>
        </div>


        <div class="register2_msg">
            <div class="msgreg2_zj">
                    <div class="title_zj font_zj1">教育经历</div>
                <div class="zjaddexp">
                    <label class="general-input left_align school">
                        <input type="text" placeholder="学校名称" class="school_name">
                    </label>
                    <div class=" relative general-select right_align education">
                        <label class="general-input relative general-select">
                            <input type="text" readonly="" value="本科" class="edu_district">
                            <svg class="icon inputicon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-xiala" class="colorbbb"></use>
                            </svg>
                        </label>
                        <div class="options" style="height: 0px;">
                            <div class="select-option"><span>博士以上</span></div>
                            <div class="select-option"><span>博士</span></div>
                            <div class="select-option"><span>硕士</span> </div>
                            <div class="select-option"><span>本科</span> </div>
                            <div class="select-option"><span>专科</span> </div>
                            <div class="select-option"><span>专科以下</span> </div>
                        </div>
                    </div>
                    <div class="chec_tip1">
                        <div class="left_align"></div>
                        <div class="right_align" style="width: 160px;"></div>
                    </div>
                <label class="general-input industry">
                    <input type="text" placeholder="所学专业" class="edu_major">
                </label>
                    <div class=" relative general-select right_align year">
                        <label class="general-input relative general-select" >
                            <input type="text" readonly="" value="" placeholder="毕业时间" class="edu_finish_time">
                            <svg class="icon inputicon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-xiala" class="colorbbb"></use>
                            </svg>
                        </label>
                        <div class="options" style="height: 0px;">
                            <div class="select-option"><span>计算机科学与技术</span></div>
                            <div class="select-option"><span>软件工程</span> </div>
                            <div class="select-option"><span>电子商务</span> </div>
                            <div class="select-option"><span>土木工程</span> </div>
                        </div>
                    </div>
                    <div class="chec_tip1">
                        <div class="left_align"></div>
                        <div class="right_align" style="width: 160px;"></div>
                    </div>
                </div>
                <div class="cwfreg3content"   id="addexp">
                    <span class="cwfaddexp">添加更多经历</span>
                </div>
            </div>
            <div class="next_step">
                <div class="prev left_align font_2"><a>上一步</a></div>
                <div class="next_btn left_align font_2" id="edu_submit_next_step">下一步，工作经历</div>
            </div>
        </div>
    </div>
    
</div>


</body>
<script src="../js/jquery.js" rel="script"></script>
<script src="../js/iconfont.js" rel="script"></script>
<script src="../js/control.js" rel="script"></script>
<script>
    $(document).ready(function(){

        var date=new Date();
        var year=date.getFullYear();
        var end=year-15;
        var html="";
        for(var i=year;i>=end;i--){
            html+="<div class='select-option'><span>"+i+"</span></div>";
        }
        $(".year .options").html(html);


        //设置下拉选择框
        $("body").on("mousedown",".general-select input",function(){
            var _this=$(this);
            if(_this.closest(".general-select").next().height()=="0"){
                $(".options").css("height","0px");
                _this.closest(".general-select").next().css("height","185px");
            }else {
                _this.closest(".general-select").next().css("height","0px");
            }
        });
        $("body").on("mousedown",".select-option",function(){
                var _this=$(this);
                var optionhtml=_this.find("span").eq(0).html();
                _this.closest(".options").prev().find("input").val(optionhtml);
                _this.closest(".options").css("height","0");
        });

        $(".cwfaddexp").on('click',function(){
            var addexp=$(".zjaddexp").html();
            var addexpcontent="<div class='zjaddexp'><span class='cwfdashed460'></span>"+addexp+"</div>";
            $("#addexp").before(addexpcontent);
            $(".msgreg2_zj .cwfaddexp").css("width","218px");
            if($("#addexp .cwfdelexp").length==0){
                $("#addexp").append("<span class='cwfdelexp'>删除</span>")
            };
        });

        //删除操作
        $('body').on("click",".cwfdelexp",function(){
            var exps=$(".zjaddexp");
            if(exps.length>2){
                exps.eq(exps.length-1).remove();
            }else if(exps.length==2){
                exps.eq(exps.length-1).remove();
                $(".msgreg2_zj .cwfaddexp").css("width","100%");
                $(".cwfdelexp").remove();
            }
        })


        $(".edu_finish_time").on("click",function(){
            $(this).closest(".year").next().find(".right_align").html("");
        })

        $("body").on("click",".edu_finish_time",function(){
            $(this).closest(".year").next().find(".right_align").html("");
        })

        $("#edu_submit_next_step").click(function(){
            var explength=$(".zjaddexp").length;
            var eud_data=new Array();
            for(var i=0;i<explength;i++){
                var school_name=$(".school_name").eq(i).val();
                var edu_district=$(".edu_district").eq(i).val();
                var edu_major=$(".edu_major").eq(i).val();
                var edu_finish_time=$(".edu_finish_time").eq(i).val();

                var school_input=$(".school_name").eq(i).closest(".general-input");
                var major_input=$(".edu_major").eq(i).closest(".general-input");
                var finish_input=$(".edu_finish_time").eq(i).closest(".general-input");
                var finish_border=$(".edu_finish_time").eq(i).closest(".year");

                if(school_name==""){
                    school_input.css("border-color","#e23d46");
                    school_input.next().next().find(".left_align").html(tipmsg("error","请输入学校名称"));
                    return false;
                }else{
                    school_input.next().next().find(".left_align").html("");
                }
                if(edu_major==""){
                    major_input.css("border-color","#e23d46");
                    major_input.next().next().find(".left_align").html(tipmsg("error","请输入所学专业"));
                    return false;
                }else{
                    major_input.next().next().find(".left_align").html("");
                }

                if(edu_finish_time==""){
                    finish_input.css("border-color","#e23d46");
                    finish_border.next().find(".right_align").html(tipmsg("error","请选择毕业时间"));
                    return false;
                }
                eud_data[i]=new Array();
                eud_data[i].school_name=school_name;
                eud_data[i].edu_district=edu_district;
                eud_data[i].edu_major=edu_major;
                eud_data[i].edu_finish_time=edu_finish_time;

            }

            $.ajax({
                url:"",
                type:"post",
                data:eud_data,
                success:function(data){
                    if(data.status==1){
                        window.location.href="";
                    }else{
                        console.log(data.content);
                    }
                }
            })

        })
    })
</script>
</html>