.screen_content{
    width: 750px;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    top: 188px;
    box-shadow:-1px -1px 10px rgba(15,126,158,0.1), /*左边阴影*/
    1px -1px 10px rgba(15,126,158,0.1), /*右边阴影*/
    0 12px 12px rgba(15,126,158,0.15); /*底边阴影*/
}
.screen_content_left{
    display: inline-block;
    width: 375px;
    position: relative;
}
.screen_content_left:after{
    content: "";
    position: absolute;
    height: 238px;
    width: 1px;
    background-color: #eee;
    left: 375px;
    top: 106px;

}
.screen_content_right{
    width: 375px;
    float: right;
}
.screen_title{
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.screen_title1{
    width: 100%;
    margin-top: 20px;
    color: #999;
    text-align: center;
}
.screen_pic{
    height: 160px;
    margin-top: 40px;
    text-align: center;
}
.screen_btnbox{
    width: 100%;
    text-align: center;
}
.screen_btn{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 160px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}
.findjob{
    background-color: #30BA78;
}
.findjob:hover{
    background-color: #2BAD6F;
}
.findpersonnel{
    background-color: #0099cc;
}
.findpersonnel:hover{
    background-color: #018ebd;
}
.bottom_login{
    width: 100%;
    margin-top:36px;
    padding-bottom: 20px;
    text-align: center;
}
.go_login{
    color: #0099cc;
}