<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title><%= title %></title>

    <meta name="description" content="">
    <meta name="Keywords" content="" >
    <% include version.ejs%>
    <% include common.ejs%>
</head>
<body>
    <div class="w1000">

    </div>
<% include footer.ejs%>
<!--请在下方写此页面业务相关的脚本-->
</body>
</html>
