<!DOCTYPE HTML>
<html>
<head>
    <%include common.ejs%>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/pages/login.css"  />
    <title>猫阿姨城市平台管理系统</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
</head>
<body>
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header"></div>
<div class="loginWraper">
    <div class="loginLogo">
        <img src="/static/images/business/logo.png"><br/>
        <span class="loginLogo2"><div class="loginManage_l"><i></i><span></span></span></div>猫阿姨城市平台管理系统<div class="loginManage_r"><span></span><i></i></span></div></span>
    </div>
    <div id="loginform" class="loginBox">
        <form class="form form-horizontal" >
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
                <div class="formControls col-xs-8">
                    <input id="userName" name="" value="" type="text" placeholder="账户" class="input-text size-L">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
                <div class="formControls col-xs-8">
                    <input id="pwd" name="" value=""  type="password" placeholder="密码" class="input-text size-L">
                </div>
            </div>
            <input id="strImgVerifyCodeId" style="display: none">
            <div class="row cl">
                <label class="form-label col-xs-3"></label>
                <div class="formControls col-xs-8 ">
                    <input id="Verification" class="input-text size-L" maxlength="4" type="text" placeholder="验证码"  style="width:150px;">
                    <img id="VerificationImg" src="" class="Verification">
                </div>
            </div>
            <div class="container" style="margin-left: 20%">
                <div class="row">
                    <div class="span4">
                        <div class="alert" style="color: red;margin-left: 8px" >
                            <span id="errorMsg"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cl" >
                <div class="formControls col-xs-8 col-xs-offset-3" style="margin-left: 20%">
                    <div id="J_login_bt"  class="btn btn-success radius size-L" value="">
                        &nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/static/javascripts/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/stylesheets/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/static/javascripts/lib/requstUtil.js"></script>
<script type="text/javascript" src="/static/javascripts/page/login.js"></script>
</body>
</html>