<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title><%= title %></title>
    <% include common.ejs%>
    <meta name="description" content="">
    <meta name="Keywords" content="" >
    <% include version.ejs%>
    <link href="/static/stylesheets/pages/jurisdiction.css" rel="stylesheet" type="text/css" >
</head>
<body>
<% include header.ejs%>
<% include menu.ejs%>
<link href="/static/javascripts/lib/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" type="text/css" >
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 区域管理员
    </nav>
    <div class="contentmenu cl pd-20 menu_dropdown">
        <ul class="firstmenu">
            <li>
                <ul class="secondmenu">
                    <span><i class="Hui-iconfont icon_l menu_dropdown-arrow">&#xe63c;</i>权限管理<i class="Hui-iconfont icon_r menuClick menushow">&#xe6d5;</i><i class="Hui-iconfont icon_rs">&#xe609;</i><i class="Hui-iconfont icon_rs">&#xe6df;</i><i class="Hui-iconfont icon_rs">&#xe600;</i><div class="label label-primary radius icon_rstop">启用</div></span>
                    <li class="last"><a href="#">区域管理员</a><i class="Hui-iconfont icon_r">&#xe609;</i><i class="Hui-iconfont icon_rs">&#xe6df;</i><div class="label label-default radius icon_rstop">禁用</div></li>
                </ul>
            </li>
        </ul>
    </div>
</section>
<% include footer.ejs%>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/javascripts/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/stylesheets/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/static/javascripts/lib/tips.js"></script>
<script type="text/javascript" src="/static/javascripts/lib/requstUtil.js"></script>
<script type="text/javascript" src="/static/javascripts/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="/static/javascripts/page/roleJurisdiction/roleJurisdiction.js"></script>
</body>

</html>
